h1{
  text-align: center;
}

img{
  display: block;
  width: 25%;
 margin: 0 auto; 
 cursor: pointer;
}

input{
  display: block;
 margin: 0 auto; 
 width: 25%;
}

.error-output{
  color: red;
  display: block;
  margin: 0 auto; 
  text-align: center;
}